# Homework pandas

In [5]:
import pandas as pd

# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0.

In [9]:
data = pd.read_csv('movies-Copy1.csv')
data2 = pd.read_csv('ratings-Copy1.csv')
joined = data2.merge(data, on='movieId', how='left')
a = joined.filter(items = ['movieId', 'title', 'rating', 'timestamp'])
ratings = a[ (a['rating']==5.0)]
ratings['title'].value_counts().idxmax()

'Shawshank Redemption, The (1994)'

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики 
(Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [234]:

data_frame = pd.read_csv('power.csv')

#def baltic(country):
 #   if country in ['Lithuania', 'Latvia', 'Estonia']:
  #      return 'Прибалтика'
   # 
    #return 'Other'

#data_balt['baltic'] = data_balt.country.apply(baltic)

#data_balt.baltic.value_counts()

categories = data_balt[ (data_balt['category']==4) | (data_balt['category']==12) | (data_balt['category']==21)]
year_categ = categories[ (categories['year']>=2005) & (categories['year']<=2010)]
quant_year_categ = year_categ[(year_categ['quantity']>0)]
baltic_countries = quant_year_categ[(quant_year_categ['country']=='Lithuania') | (quant_year_categ['country']=='Latvia') | (quant_year_categ['country']=='Estonia')]
sum_quantity = baltic_countries['quantity'].sum()
sum_quantity

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [10]:
page_url = 'http://edu.repetitor-general.ru/rating/Schools2018-2019.php'
df = pd.read_html(page_url, attrs = {'class': 'table table1 table-striped'}, encoding='utf-8')
df[:20]

ValueError: No tables found